NEXT_PUBLIC_GOOGLE_VERIFICATION_CODE=your-google-verification-code
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=your-recaptcha-site-key
NEXT_PUBLIC_DISABLE_RECAPTCHA=false
NEXT_PUBLIC_DOMAIN=https://ayomide-osunsami.vercel.app

MY_EMAIL_ADDRESS=your-email-address
RESEND_API_KEY=your-resend-api-key
RESEND_TEMPLATE_ID=your-resend-template-id
RECAPTCHA_SECRET_KEY=your-recaptcha-secret-key