
MAIL_PORT=465
MAIL_HOST= "mail.gmail.com"
MAIL_USER=john@doe.com
MAIL_FROM='"YOUR WEBSITE NAME" <john@doe.com>'
MAIL_TO=jane@doe.com
MAIL_PASSWORD=********

NEXT_PUBLIC_GOOGLE_VERIFICATION_CODE=your-google-verification-code
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=your-recaptcha-site-key
NEXT_PUBLIC_DISABLE_RECAPTCHA=false
RECAPTCHA_SECRET_KEY=your-recaptcha-secret-key
NEXT_PUBLIC_DOMAIN=https://ayomide-osunsami.vercel.app